<style>


/* Force CSS block parsing */
.teacher-note::before {
    content: "";
    display: none;
}

/* Johnny's Material Theme from Kanagawa.nvim */
.kanagawa::before {
    content: "";
    display: none;
}

.kanagawa {
    border: 3px solid #223249;
    border-radius: 12px;
    padding: 8px;
    line-height: 1.5;
    color: #c8c093;
    background-color: #16161d;
    font-size: 18px;
    font-family: verdana;
}

/* Teacher Notes */
.teacher-note {
    border: 3px dashed #2a2a37;
    font-size: 14px;
    color: #dcd7ba;
    background-color: #1f1f28;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
}
.teacher-note ol, .teacher-note ul, .teacher-note li {
    margin-top: 5px;
    padding-left: 20px;
    color: #dcd7ba;
}
.teacher-note code {
    color: #dcd7ba;
    background-color: #1f1f28;
}

/* Discussion Question */
.discussion-question {
    border: 3px solid #a88bd4;
    font-size: 14px;
    color: #000000;
    background-color: #eee8f6;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
}
.discussion-question h3 {
    margin: 0; /* Remove top and bottom margin */
    padding: 0; /* Ensure no padding is applied */
}
.discussion-question h3:first-child {
    margin-top: 0 !important;
}
.discussion-question code {
    color: #000000;
    background-color: #e0d5ef;
}

/* Guided Notes */
.guided-notes {
    border: 3px solid #708a89;
    font-size: 14px;
    color: #000000;
    background-color: #f1f8f8;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
}
.guided-notes h3 {
    margin: 0;
    padding: 0;
    color: #000000;
}
.guided-notes h3:first-child, .discussion-question h3:first-child {
    margin-top: 0 !important;
}
.guided-notes ol, .guided-notes ul, .guided-notes li {
    margin-top: 5px;
    padding-left: 20px;
    color: #000000;
}
.guided-notes code {
    color: #000000;
    background-color: #dceeed;
}

/* Adjust line spacing for Level 3 headings */
.rendered_html h3 {
    font-size: 128.6%;
    margin: 1.55em 0 0 0;
    font-weight: bold;
    line-height: 1.5;
}
.guided-notes h3,
.discussion-question h3,
.teacher-note h3 {
    font-size: 1.15em !important; /* ~16px relative to 14px container */
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold;
    line-height: 1.5;
    color: #000000;
}
</style>
